
<br><br>
When life get's too busy,<br>
and you dont notice they're sad,
<br><br>
When you've had a rough day,<br>
and you say things you don't mean.
<br><br>

We've got you covered.<br>
Once a week, well send a text to your favorite people,<br>
just letting them know that they matter to you.
<br><br>
Because, sometimes we forget,<br>
sometimes we get angry,<br>
And sometimes we put our foot in our mouth.
<br><br>
But we still love those people,<br>
The ones we accidentally hurt.<br>
and sometimes it's hard to tell them

<br>
<br>
<br>


That they matter.
<br><br>
<%= link_to "Add you're friends", root_path %>, and you we'll do it for you.




































<!-- <h1>What is this for?</h1>








<h5><strong>Life get's busy</strong>

</h5> -->
