<div class="title">
  <h1>Spread The Love</h1>
  <h5>Once a week, we'll let your friends know they're important.</h5>
</div>
<%= javascript_pack_tag 'new_friend', 'data-turbolinks-track': true, method: 'get' %>
<%#= javascript_pack_tag 'new_friend',  prerender: true %>
