/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


html {
    width: 100%;
    min-height: 100%;
}

.card{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.sign-up-button{
  height: 50px;
}

body{
  // font-family: 'Source Code Pro', monospace;
  font-family: 'Varela Round', sans-serif;
  // background-color: rgba(0,0,0,0.87);
  color: #035F99;
  width: inherit;
  min-height: inherit;
  margin: 0;
  padding: 0;
}


.main-btn{
  background-color: #A82929;
  border-radius:4px;
  color: white;
  border: none;
  margin-left: 18px
}

.title{
  margin-top: 20px;
  border-bottom: 2px solid #40C1DB;
  h1{
    font-size: 40px;
  }
  h5{
    color: #09334D;
  }
}

.jumbotron{
  background-color: rgba(0,0,0,0.4)
}

.new-friend-button{
  margin-top: 10px;
}

input{
  margin-bottom: 10px;
  margin-top: 15px;
  border: 2px solid #40C1DB;
  border-radius: 4px;
  color: #036C99;
  width: 100%;

}

.react-phone-number-input__row {
    display: flex;
    align-items: center;
  .react-phone-number-input__input {
    border: 2px solid #40C1DB;
    border-radius: 4px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border 0.1s;
    font-size: inherit;
  }

}

.navbar {
  background-color: #035F99;
  a{
    color: white;
  }
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#036C99;
  opacity: .58; /* Firefox */
  // padding-left: 8px;
}
