<section class="pricing py-5" id='pricing-page'>
  <div class="container">
    <h1 class='pricing-title'>Choose Your Plan</h1>
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-2">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">- <strong>Most Popular</strong> -</h5>
            <h5 class="text-center"></h5>
            <h6 class="card-price text-center">$29<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 full year</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Automated Compliments</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Every 10 Days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Add Up to 3 people</li>
              <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              -->
            </ul>
            <a href="#" class="btn btn-block btn-danger text-uppercase">Get</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center"></h5>
            <h6 class="card-price text-center">$14<span class="period">/ Year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 full year</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Automated Compliments</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Once a Month</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Add Up to 3 people</li>
            </ul>
            <a href="#" class="btn btn-block btn-outline-danger text-uppercase">Get</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$129<span class="period">/Lifetime</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Pay once, then never again</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Up to 5 people</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Custom Compliments</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>No Logo On Texts</li>
            </ul>
            <a href="#" class="btn btn-block btn-outline-danger text-uppercase">Get</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type='text/javascript'>
      document.addEventListener("DOMContentLoaded", function(){
  // Handler when the DOM is fully loaded
      var child = document.getElementById("pricing-page")
      var parent = child.parentNode()
      parent.removeClass("container");
    });
</script>
